Johnny_Chat_Interface_v2.json
{
  "name": "Johnny_Chat_Interface_v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "johnny-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "82179f3b-34e4-4f60-858a-ba02d79f4f72",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1088,
        160
      ],
      "webhookId": "20f2ae35-5d99-468c-9e83-b7d343dbccfa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"default\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Johnny Bright, an autonomous AI agent. Return ONLY valid JSON. Tools: create_task, query_tasks, update_task_status, get_stats, none.\\n\\ncreate_task: {\\\"tool\\\":\\\"create_task\\\",\\\"arguments\\\":{\\\"description\\\":\\\"str\\\",\\\"impact\\\":0-100,\\\"urgency\\\":0-100,\\\"complexity\\\":0-100}}\\nquery_tasks: {\\\"tool\\\":\\\"query_tasks\\\",\\\"arguments\\\":{\\\"status\\\":\\\"pending|done|in_progress|all\\\",\\\"limit\\\":10}}\\nupdate_task_status: {\\\"tool\\\":\\\"update_task_status\\\",\\\"arguments\\\":{\\\"task_id\\\":number,\\\"status\\\":\\\"done|pending|in_progress\\\"}}\\nget_stats: {\\\"tool\\\":\\\"get_stats\\\",\\\"arguments\\\":{}}\\nnone (chat): {\\\"tool\\\":\\\"none\\\",\\\"response\\\":\\\"text\\\"}\\n\\nReturn exactly one JSON object.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.message }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 800\n}",
        "options": {}
      },
      "id": "6236378a-de7d-45c0-8f96-dc35137eedca",
      "name": "Tool Decider LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -832,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices[0].message.content;\nlet parsed;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n} catch (e) {\n  parsed = { tool: 'none', response: raw };\n}\nreturn [{ json: parsed }];"
      },
      "id": "332d7c59-1e94-4ef3-bca3-cf9dcc0886de",
      "name": "Parse Tool JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        160
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "create_task",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-create"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_task"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "query_tasks",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-query"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "query_tasks"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "update_task_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-update"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_task_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "get_stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-stats"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_stats"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ff6b07c2-43fb-4d3b-932b-a130555e8230",
      "name": "Tool Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -336,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO project_tasks (project_id, description, impact_score, urgency_score, complexity_score, source, status)\nVALUES (\n  (SELECT id FROM projects WHERE name='Johnny Bright'),\n  $1, $2, $3, $4, 'user', 'pending'\n)\nRETURNING id, description, status;",
        "options": {
          "queryReplacement": "={{ [$json.arguments.description, $json.arguments.impact, $json.arguments.urgency, $json.arguments.complexity] }}"
        }
      },
      "id": "eec3f2d1-01ea-484c-bde2-d0e6fa4ca93f",
      "name": "Create Task DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, description, status, source, priority_score, created_at\nFROM project_tasks\nWHERE project_id = (SELECT id FROM projects WHERE name='Johnny Bright')\n  AND (status = $1 OR $1 = 'all')\nORDER BY priority_score DESC NULLS LAST, created_at DESC\nLIMIT $2;",
        "options": {
          "queryReplacement": "={{ [$json.arguments.status, $json.arguments.limit || 10] }}"
        }
      },
      "id": "7fe26598-8a55-49e1-bfe7-060963da5d34",
      "name": "Query Tasks DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -80,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE project_tasks SET status = $1 WHERE id = $2 RETURNING id, status;",
        "options": {
          "queryReplacement": "={{ [$json.arguments.status, $json.arguments.task_id] }}"
        }
      },
      "id": "009b85fb-911e-4b3c-8fc3-cb19bc168508",
      "name": "Update Task DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -80,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ps.total_tasks_completed,\n  ps.summary,\n  ps.last_summary_at,\n  (SELECT COUNT(*) FROM project_tasks pt WHERE pt.status='pending' AND pt.project_id=ps.project_id) as pending_count,\n  (SELECT COUNT(*) FROM project_tasks pt WHERE pt.status='in_progress' AND pt.project_id=ps.project_id) as active_count,\n  (SELECT COUNT(*) FROM project_tasks pt WHERE pt.status='done' AND pt.project_id=ps.project_id) as done_count,\n  (SELECT COUNT(*) FROM project_tasks pt WHERE pt.status='done_revisions' AND pt.project_id=ps.project_id) as done_revisions_count,\n  (SELECT SUM(pt.total_tokens) FROM project_tasks pt WHERE pt.project_id=ps.project_id) as total_tokens,\n  (SELECT COUNT(*) FROM topics) as active_topics,\n  (SELECT value->>'index' FROM workflow_state WHERE key='wrr_index') as wrr_index\nFROM project_state ps\nJOIN projects p ON ps.project_id = p.id\nWHERE p.name = 'Johnny Bright';",
        "options": {}
      },
      "id": "ea76c3a5-4a12-488a-aa71-504093588833",
      "name": "Get Stats DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -80,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(item => item.json);\nreturn [{ json: { success: true, data: data.length === 1 ? data[0] : data } }];"
      },
      "id": "6ed878c0-78d9-4ad5-b7dc-06cae143da90",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json.response || 'Request processed.';\nreturn [{ json: { success: true, response: response } }];"
      },
      "id": "818018e3-8a06-457a-83a5-cdc4ec3d2668",
      "name": "Format Chat Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        672
      ]
    },
    {
      "parameters": {
        "content": "## Erkl채rung\n\nWof체r ist es gedacht?\nEs ist die Mensch-Maschine-Schnittstelle zu Johnny. Damit kannst du z.B. aus einem Skript, einer App, oder sogar aus einem anderen LLM-Agenten Tasks an Johnny schicken, abfragen, und managen, ohne in die n8n UI oder direkt in die DB gehen zu m체ssen.\n\ncurl -X POST http://localhost:5678/webhook/johnny-chat \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"message\": \"Show me all pending tasks\"}'\n\n einen Task erstellen:\n\ncurl -X POST http://localhost:5678/webhook/johnny-chat \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"message\": \"Create a task: Optimize database indexes for project_tasks table\"}'\n\n4 Tools + Chat:\n\ncreate_task - Neuen User-Task erstellen (mit Impact/Urgency/Complexity)\nquery_tasks - Tasks abfragen (nach Status filtern)\nupdate_task_status - Task-Status 채ndern\nget_stats - Projekt-Statistiken abrufen\nnone - Freitext-Chat",
        "height": 448,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        336
      ],
      "typeVersion": 1,
      "id": "af27aaac-444b-44be-88eb-a5519580f19d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Tool Decider LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Decider LLM": {
      "main": [
        [
          {
            "node": "Parse Tool JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tool JSON": {
      "main": [
        [
          {
            "node": "Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Router": {
      "main": [
        [
          {
            "node": "Create Task DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Tasks DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Task DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Stats DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task DB": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Tasks DB": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task DB": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stats DB": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "8EZOzDYTd9D7vKWE",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "cb1a9deb-235f-480c-af1b-eecf9538229a",
  "meta": {
    "instanceId": "37df2b5edb3bba3db0121f21a287ff0fbc638f8b4b35c6840548e4d41c57dce5"
  },
  "id": "nO1vuNzy0lzwDVnG",
  "tags": []
}