Johnny_Chat_Interface.json
{
  "name": "Johnny_Chat_Interface",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "johnny-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "91ee2ab4-0704-44bd-a053-994c2c53758f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -896,
        160
      ],
      "webhookId": "20f2ae35-5d99-468c-9e83-b7d343dbccfa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"default\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an autonomous agent. You must ALWAYS return valid JSON. Allowed tools: create_task, query_tasks, update_task_status, none. For create_task you must return {\\\"tool\\\":\\\"create_task\\\",\\\"arguments\\\":{\\\"description\\\":\\\"string\\\",\\\"impact\\\":0-100,\\\"urgency\\\":0-100,\\\"complexity\\\":0-100,\\\"source\\\":\\\"user\\\"}}. For query_tasks return {\\\"tool\\\":\\\"query_tasks\\\",\\\"arguments\\\":{\\\"status\\\":\\\"pending|done|in_progress|all\\\",\\\"source\\\":\\\"user|workspace|system|all\\\"}}. For update_task_status return {\\\"tool\\\":\\\"update_task_status\\\",\\\"arguments\\\":{\\\"task_id\\\":number,\\\"status\\\":\\\"done|pending|in_progress\\\"}}. For normal replies return {\\\"tool\\\":\\\"none\\\",\\\"response\\\":\\\"text\\\"}. Return exactly one JSON object. No explanations. No markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$json.body.message}}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 800\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d282750e-30e0-462c-9818-842152b28f0a",
      "name": "Tool Decider (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -656,
        160
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.tool}}",
                    "rightValue": "create_task",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3c52fb01-74b8-4eef-989b-f9049ba4cdd5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.tool}}",
                    "rightValue": "query_tasks",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eab545bf-f9bf-418d-8805-fc23fafc16e8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.tool}}",
                    "rightValue": "update_task_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d5ffc9e9-151d-4f3e-8166-338b9045070b"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "dd200112-d82e-4139-937e-77b56fe17afc",
      "name": "Tool Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -240,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO project_tasks (project_id, description, impact_score, urgency_score, complexity_score, source, status)\nVALUES (\n  (SELECT id FROM projects WHERE name='Johnny Bright'),\n  $1, $2, $3, $4, 'user', 'pending'\n)\nRETURNING id;",
        "options": {
          "queryReplacement": "=[{{ $json.arguments.description }},{{ $json.arguments.impact }},{{ $json.arguments.urgency }},{{ $json.arguments.complexity }}]"
        }
      },
      "id": "0215fd24-e69e-4e6b-9cc6-b962516d02c2",
      "name": "Create Task (DB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, description, status FROM project_tasks WHERE (status = $1 OR $1 = 'all') AND (source = $2 OR $2 = 'all') ORDER BY id DESC;",
        "options": {
          "queryReplacement": "=[[{{ $json.arguments.status }},{{ $json.arguments.source }}]"
        }
      },
      "id": "7e106a05-d8e6-4e4d-abdb-e17fce5c0eaf",
      "name": "Query Tasks (DB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        0,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE project_tasks SET status = $1 WHERE id = $2 RETURNING id;",
        "options": {
          "queryReplacement": "=[[{{ $json.arguments.status }},{{ $json.arguments.task_id }}]"
        }
      },
      "id": "5d82aa9d-9d43-4d2f-b56c-3224ff50f5e6",
      "name": "Update Task (DB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        0,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  throw new Error(\"LLM did not return valid JSON: \" + raw);\n}\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        160
      ],
      "id": "1531167a-11a5-45f7-bfe4-847f1f271d67",
      "name": "Parse Tool JSON"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { response: 'Operation executed successfully.', data: $json } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        160
      ],
      "id": "cd34e45d-d2dd-439a-8999-00ec376ab5bc",
      "name": "Format Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Tool Decider (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Decider (LLM)": {
      "main": [
        [
          {
            "node": "Parse Tool JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Router": {
      "main": [
        [
          {
            "node": "Create Task (DB)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Tasks (DB)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Task (DB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task (DB)": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Tasks (DB)": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task (DB)": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tool JSON": {
      "main": [
        [
          {
            "node": "Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "htcGWa4TSvoOc3lr",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "33cb7cb6-406d-4ff6-9456-0585d3f071ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37df2b5edb3bba3db0121f21a287ff0fbc638f8b4b35c6840548e4d41c57dce5"
  },
  "id": "oQze6bemb8jjey44",
  "tags": []
}