Johnny_Core_v3.json
{
  "name": "Johnny_Core_v3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "5a132e75-923a-4ffb-92b6-6bd489962c08",
      "icon": "fa:clock",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3456,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_next_pending_task((SELECT id FROM projects WHERE name='Johnny Bright'));",
        "options": {}
      },
      "id": "b9121235-ecbf-49e8-a619-9b6789f67d6d",
      "icon": "fa:database",
      "name": "Get Pending Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -3200,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "task_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "a2",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "topic_id",
              "value": "={{ $json.topic_id }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1552601-63d1-45fc-aaff-232dfbea8b4f",
      "icon": "fa:sticky-note",
      "name": "Remember Task Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2976,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE project_tasks SET status = 'in_progress', started_at = NOW() WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [$json.task_id] }}"
        }
      },
      "id": "aa9d36a8-3cbf-4197-8428-bf22ea5e613e",
      "icon": "fa:database",
      "name": "Mark In Progress",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -2288,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const taskData = $('Remember Task Data').first().json;\nconst description = taskData.description;\n\n// Check if we're in a revision loop\nlet criticComment = '';\ntry {\n  criticComment = $json.critic_comment || '';\n} catch(e) {\n  criticComment = '';\n}\n\nconst revisions = typeof $json.revisions === 'number' ? $json.revisions : 0;\n\nreturn [{\n  json: {\n    description: description,\n    critic_comment: criticComment,\n    revisions: revisions,\n    task_id: taskData.task_id\n  }\n}];"
      },
      "id": "29070bbf-a561-454b-bf55-6e22eebb203a",
      "icon": "fa:code",
      "name": "Prepare LLM Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"default\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"You are Johnny Bright, an autonomous AI execution engine. Execute the given task professionally and thoroughly. Provide detailed, actionable output.\"},\n    {\"role\": \"user\", \"content\": \"Task:\\n{{ $json.description }}\\n\\n{{ $json.critic_comment ? 'Previous reviewer feedback to address:\\n' + $json.critic_comment : '' }}\"}\n  ],\n  \"temperature\": 0.4,\n  \"max_tokens\": 2000\n}",
        "options": {}
      },
      "id": "28666fc8-c6e5-404c-a20c-1685f3561622",
      "icon": "fa:rocket",
      "name": "Execute Task LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1792,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst taskData = $('Remember Task Data').first().json;\nconst prepData = $('Prepare LLM Input').first().json;\n\nconst content = response.choices?.[0]?.message?.content || 'No output';\nconst usage = response.usage || {};\n\nreturn [{\n  json: {\n    task_id: taskData.task_id,\n    execution_output: content,\n    input_tokens: usage.prompt_tokens || 0,\n    output_tokens: usage.completion_tokens || 0,\n    total_tokens: usage.total_tokens || 0,\n    revisions: prepData.revisions,\n    description: taskData.description\n  }\n}];"
      },
      "id": "5f12d58e-1ef8-48d1-84dc-c2ae08f5ab7d",
      "icon": "fa:code",
      "name": "Extract Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO execution_log (task_id, revision_number, llm_output, input_tokens, output_tokens, total_tokens, temperature, model)\nVALUES ($1, $2, $3, $4, $5, $6, 0.4, 'qwen2.5-32b');",
        "options": {
          "queryReplacement": "={{ [$json.task_id, $json.revisions, $json.execution_output, $json.input_tokens, $json.output_tokens, $json.total_tokens] }}"
        }
      },
      "id": "1c0e10d9-0c4d-4f56-8e95-98ce109da0c3",
      "icon": "fa:database",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1296,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE project_tasks SET total_tokens = total_tokens + $1 WHERE id = $2;",
        "options": {
          "queryReplacement": "={{ [$json.total_tokens, $json.task_id] }}"
        }
      },
      "id": "b710a8a9-dbed-4a19-bb9f-997cd4d93d7d",
      "icon": "fa:database",
      "name": "Track Tokens",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1040,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"default\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"You are a strict quality reviewer. Evaluate the task output. Return ONLY valid JSON: {\\\"verdict\\\": \\\"approve\\\" or \\\"revise\\\", \\\"comment\\\": \\\"your feedback\\\"}. Approve if the output is thorough and actionable. Revise if it is vague, incomplete, or wrong.\"},\n    {\"role\": \"user\", \"content\": \"Original task:\\n{{ $json.description }}\\n\\nOutput to review:\\n{{ $json.execution_output }}\"}\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 400\n}",
        "options": {}
      },
      "id": "128f8409-81cd-4d74-abce-7a43b94b04bf",
      "icon": "fa:gavel",
      "name": "Critic Review LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -800,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Extract Result').first().json;\nconst raw = response.choices?.[0]?.message?.content || '';\n\nlet verdict = 'approve';\nlet comment = '';\n\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  const parsed = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n  verdict = parsed.verdict === 'revise' ? 'revise' : 'approve';\n  comment = parsed.comment || '';\n} catch (e) {\n  // If critic fails to return JSON, auto-approve to prevent blocking\n  verdict = 'approve';\n  comment = 'Auto-approved: critic response was not valid JSON';\n}\n\nreturn [{\n  json: {\n    task_id: prevData.task_id,\n    verdict: verdict,\n    comment: comment,\n    revisions: prevData.revisions,\n    execution_output: prevData.execution_output\n  }\n}];"
      },
      "id": "7165f260-089e-4e59-bfa3-20f43f6945d2",
      "icon": "fa:code",
      "name": "Parse Critic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO task_reviews (task_id, verdict, critic_comment) VALUES ($1, $2, $3);",
        "options": {
          "queryReplacement": "={{ [$json.task_id, $json.verdict, $json.comment] }}"
        }
      },
      "id": "31cfd8ee-1faa-419d-a023-c323c2859731",
      "icon": "fa:database",
      "name": "Insert Review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -288,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE project_tasks SET status = 'done', completed_at = NOW() WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $('Parse Critic').item.json.task_id }}"
        }
      },
      "id": "6e8976ff-3fbc-4f33-bd01-e0da61786243",
      "icon": "fa:database",
      "name": "Mark Done",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        208,
        16
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT update_project_metrics((SELECT id FROM projects WHERE name='Johnny Bright'));",
        "options": {}
      },
      "id": "2205c620-1619-48dd-8677-2ee211b4bb7c",
      "icon": "fa:database",
      "name": "Update Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        416,
        16
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const maxRevisions = 2;\nconst current = $json.revisions || 0;\n\nif (current < maxRevisions) {\n  return [{\n    json: {\n      can_revise: true,\n      revisions: current + 1,\n      critic_comment: $json.comment,\n      task_id: $json.task_id\n    }\n  }];\n} else {\n  return [{\n    json: {\n      can_revise: false,\n      task_id: $json.task_id\n    }\n  }];\n}"
      },
      "id": "6e0e7e63-013e-4163-a5a0-312ca14357b0",
      "icon": "fa:code",
      "name": "Revision Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE project_tasks SET status = 'done_revisions', completed_at = NOW(), revision_count = 2 WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $('Parse Critic').item.json.task_id }}"
        }
      },
      "id": "bd398f60-a527-4a23-8036-fcaf4aa6fb69",
      "icon": "fa:database",
      "name": "Mark Done Revisions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        672,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT update_project_metrics((SELECT id FROM projects WHERE name='Johnny Bright'));",
        "options": {}
      },
      "id": "d0e90bdc-1ffa-47ab-bc5f-5bcffb9478cb",
      "icon": "fa:database",
      "name": "Update Metrics 2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        912,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "e5OQkBV17S58WLzA",
          "name": "johnny-postgres"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oiliMzVhRS1IOYed",
          "mode": "list",
          "cachedResultUrl": "/workflow/oiliMzVhRS1IOYed",
          "cachedResultName": "Johnny_Workspace_Generator_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2288,
        352
      ],
      "id": "f33f874b-77a8-45ea-8e77-ff08a4df72b8",
      "name": "Execute Workspace Generator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "db4251a0-57b1-41bc-b60a-024e125109db",
              "leftValue": "={{ $json.task_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2688,
        208
      ],
      "id": "e395ee84-ed8e-427e-be9f-49ef39b46e2b",
      "name": "If Task Found"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82f4a5e3-b7a1-4b03-874a-cc4dae0c37a2",
              "leftValue": "={{ $json.can_revise }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        224
      ],
      "id": "c78940be-704e-420a-b39d-0a9382fb70fe",
      "name": "If Can Revise"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d3f29f2c-4f54-424a-964b-c1c82197755b",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        112
      ],
      "id": "50ac264c-a54e-4a5d-adb7-88c23f07b7ed",
      "name": "If Approved"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-17T13:02:41.013-05:00",
          "Readable date": "February 17th 2026, 1:02:41 pm",
          "Readable time": "1:02:41 pm",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "17",
          "Hour": "13",
          "Minute": "02",
          "Second": "41",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Task": {
      "main": [
        [
          {
            "node": "Remember Task Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remember Task Data": {
      "main": [
        [
          {
            "node": "If Task Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark In Progress": {
      "main": [
        [
          {
            "node": "Prepare LLM Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Input": {
      "main": [
        [
          {
            "node": "Execute Task LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Task LLM": {
      "main": [
        [
          {
            "node": "Extract Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Result": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Execution": {
      "main": [
        [
          {
            "node": "Track Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Tokens": {
      "main": [
        [
          {
            "node": "Critic Review LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critic Review LLM": {
      "main": [
        [
          {
            "node": "Parse Critic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Critic": {
      "main": [
        [
          {
            "node": "Insert Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Review": {
      "main": [
        [
          {
            "node": "If Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Done": {
      "main": [
        [
          {
            "node": "Update Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revision Check": {
      "main": [
        [
          {
            "node": "If Can Revise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Done Revisions": {
      "main": [
        [
          {
            "node": "Update Metrics 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Task Found": {
      "main": [
        [
          {
            "node": "Mark In Progress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workspace Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Can Revise": {
      "main": [
        [
          {
            "node": "Prepare LLM Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Done Revisions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved": {
      "main": [
        [
          {
            "node": "Mark Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revision Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "8EZOzDYTd9D7vKWE",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "696860b3-4a06-43b8-b70e-a15474effd15",
  "meta": {
    "instanceId": "37df2b5edb3bba3db0121f21a287ff0fbc638f8b4b35c6840548e4d41c57dce5"
  },
  "id": "rHL7j62y4G0VVARK",
  "tags": []
}